<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <%- include('../partials/_authNavbar.ejs') %>
    <%- include('../partials/_projectsNavbar.ejs') %>
    <main>
        <h1>Project: <%= project.name %></h1>
        <h2><%= project.discription %></h2>
        <div class="project-buttons">
            <form action="/projects/<%= project._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete this project</button>
            </form>
            <a href="/projects/<%= project._id %>/edit"><button>Edit this project</button></a>
         </div>
        <%- include('../partials/_docsNavbar.ejs') %>
        <h2>Create a New Document</h2>
        <div class="form">
            <form id="newDoc" action="/documents/<%= thisProject %>" method="POST">
                <label for="name">Name:</label>
                <input type="text" name="name" id="name" required>

                <label for="type">Choose a Type:</label>
                <select name="type" id="type" required>
                    <option value="user-stories">User Stories</option>
                    <option value="models">Models</option>
                    <option value="views">Views</option>
                    <option value="routes">Routes</option>
                    <option value="pseudocode">Pseudocode</option>
                </select>

                <label for="content">Content:</label>
                <textarea name="content" 
                rows="15" 
                cols="70"
                id="content" required>
                </textarea>

                <input type="checkbox" name="done" class="done">
                <label for="done" class="done">Done</label>

            </form>
            <div class="form-buttons">
                <button form="newDoc" type="submit" class="btn">Submit</button>
                <a href="/projects/" class="btn cancel">Cancel</a>
            </div>
        </div>
        
    </main>
</body>
</html>